.heroes {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
@media (max-width: 1280px) {
  .heroes {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1024px) {
  .heroes {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 770px) {
  .heroes {
    grid-template-columns: repeat(1, 1fr);
  }
}
.heroes2 {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media (max-width: 1200px) {
  .heroes2 {
    grid-template-columns: repeat(1, 1fr);
  }
}
.hero {
  position: relative;
  width: 300px;
  height: 480px;
  border-radius: 20px;
  overflow: hidden;
  text-decoration: none;
}
.letras {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}
.hero-image {
  position: absolute;
  top: 0;
  width: 300px;
  height: 480px;
  z-index: -9;
  border-radius: 5px;
}
